{% extends 'base.html' %}
{% block title %}Show Data{%endblock%}

{% block extra %}
<canvas id="chart" width="600" height="400"></canvas>
<script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(85, 239, 196,.7)",
          strokeColor: "rgba(0, 184, 148,1.0)",
          pointColor: "rgba(0, 184, 148,1.0)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = {{max}}

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>
{% endblock %}
